*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Dancing Script', cursive;
    padding: 90px 20px 0;
}
.header {
    background-color: #07e99efa;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: green;
    text-decoration: none;
}
.logo{
    font-size: 25px;
       padding: 0 20px;
    line-height: 60px;
}
.nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: azure;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
     overflow-y: auto;
  
   
}
.nav-menu-item{
    line-height: 70px;
}
.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: antiquewhite;
    transition: 0.5s;
}


.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
   display: none;
    cursor: pointer;

}
@media (max-width: 768px){
body{
    padding: 90px 20px 0;
}
.header{
    height: 60px;
}
}